div{
    height: 300px;
    color: white;
    transition: 1s;
    text-align: center;
    align-content: center;
    background-size: cover;
  }
  div:first-child{
    background-image: url(https://th.bing.com/th/id/OIP.CGsWnwGj9lsXKGiWVk1GygHaEo?w=289&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7.jpg);
  }
  div:nth-child(2){
    background-image: url(https://th.bing.com/th/id/OIP.QSFygPfgIVcZX78ktvAoMAHaE8?w=240&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7.jpg);
  }
  div:nth-child(3){
    background-image: url(https://th.bing.com/th/id/OIP.JKN4ZaDiMpHn-4ctx3X5_QHaEu?w=287&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7.jpg);
  }
  div:nth-child(4){
    background-image: url(https://th.bing.com/th/id/OIP.CGsWnwGj9lsXKGiWVk1GygHaEo?w=289&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7..jpg);
  }
  div:first-child h2{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: one;
  }
  div:nth-child(2) h2{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: two;
    animation-duration: 4s;
  }
  div:nth-child(3) h2{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: three;
  }
  div:nth-child(4) h2{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-name: four;
  }
  
  @keyframes one{
    0%{
      transform: translateY(-30px);
    }
    50%{
      transform: translateY(30px);
    }
    100%{
      transform: translateY(-30px);
    }
  }
  @keyframes two{
    0%{
      opacity: 100%;
    }
    50%{
    opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }
  @keyframes three{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes four{
    0%{
      transform: scale(2,2);
    }
    50%{
      transform: scale(0,0);
    }
    100%{
      transform: scale(2,2);
    }
  }